:root {
    --opacity: 0.6;
}

h4.chat-view-header {
    margin: 0;
    margin-bottom: 8px;
    font-size: larger;
}

p.chat-view-message {
    margin: 0;
    margin-bottom: 2px;
    line-height: 1.8;
}

p.chat-view-comment {
    width: fit-content;
    max-width: 75%;
    margin: 24px auto;
    line-height: 1.8;
    text-align: center;
    opacity: var(--opacity);
}

sub.chat-view-subtext {
    opacity: var(--opacity);
}

div.chat-view-bubble {
    width: fit-content;
    max-width: 70%;
    min-width: 30%;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
}

div.chat-view-default-vertical-margin {
    margin-top: 16px;
}

div.chat-view-small-vertical-margin {
    margin-top: 8px;
}

div.chat-view-align-left {
    border-top-left-radius: 0;
    margin-left: 0;
    margin-right: auto;
}

div.chat-view-align-right {
    border-top-right-radius: 0;
    margin-left: auto;
    margin-right: 0;
}

div.chat-view-align-center {
    margin-left: auto;
    margin-right: auto;
}

div.delimiter {
    width: fit-content;
    margin: 24px auto;
}
  
div.delimiter div.dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0px 4px;
    border-radius: 60%;
    background-color: currentColor;
    opacity: var(--opacity);
}

div.chat-view-blue h4.chat-view-header {
    color: #47F;
}

div.chat-view-green h4.chat-view-header {
    color: #2B5;
}

div.chat-view-yellow h4.chat-view-header {
    color: #ED0;
}

div.chat-view-orange h4.chat-view-header {
    color: #F90;
}

div.chat-view-red h4.chat-view-header {
    color: #F34;
}

div.chat-view-purple h4.chat-view-header {
    color: #C2C;
}

div.chat-view-grey h4.chat-view-header {
    color: #999;
}